<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:targetApi="31" >
        <activity
            android:name=".AiAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.KeyboardAppShell"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
