<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Package-visibility (API 30+): lets SpeechRecognizer.isRecognitionAvailable()
         and intent resolution see Google's (or another) speech recognition
         service on-device. -->
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AddiyonKeyboard"
        tools:targetApi="31" >

        <service
            android:name=".AddiyonKeyboardService"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AddiyonKeyboard.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Opened directly from the keyboard toolbar so their screens are the
             first frame drawn (no MainActivity home flash). Not exported. -->
        <activity
            android:name=".ThemesActivity"
            android:exported="false"
            android:theme="@style/Theme.AddiyonKeyboard" />
        <activity
            android:name=".ManualActivity"
            android:exported="false"
            android:theme="@style/Theme.AddiyonKeyboard" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false"
            android:theme="@style/Theme.AddiyonKeyboard" />
        <!-- Transparent, no-UI: only requests RECORD_AUDIO on the service's
             behalf (an InputMethodService can't call requestPermissions()
             itself) and finishes immediately. See VoicePermissionActivity. -->
        <activity
            android:name=".VoicePermissionActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>